block link
	-var selected = 'Планшеты';

extends ../layouts/main_layout.jade

block title
	title Планшеты

block content
	//- Тут вставляем верстку для стр. index.html
	.product
		ul.product__list.row
			li.product__item.clearfix
				a(href="#").product__link
					.product__item__img-wrap
						img(src="/img/img-1.jpg" alt="Apple monitor").product__item__img
					.product__item__product-wrap
						h4.product__name
							a(href="#").product__name-link Apple Thunderbolt Display 27"
						.features
							ul.features__list
								li.features__item
									.feature Артикул:
									.feature-val 42787825,
								li.features__item
									.feature Опция:
									.feature-val включена,
								li.features__item
									.feature Цвет:
									.feature-val серебристый,
								li.features__item
									.feature Размер:
									.feature-val 1280*1245*90,
								li.features__item
									.feature Вес:
									.feature-val 9 кг
			li.product__item.clearfix
				a(href="#").product__link
					.product__item__img-wrap
						img(src="/img/img-2.jpg" alt="Apple monitor").product__item__img
					.product__item__product-wrap
						h4.product__name
							a(href="#").product__name-link Apple iMac 27"
						.features
							ul.features__list
								li.features__item
									.feature Артикул:
										.feature-val 42787825,
								li.features__item
									.feature Опция:
										.feature-val включена,
								li.features__item
									.feature Цвет:
										.feature-val серебристый,
								li.features__item
									.feature Размер:
										.feature-val 1280*1245*90,
								li.features__item
									.feature Вес:
										.feature-val 9 кг
			li.product__item.clearfix
				a(href="#").product__link
					.product__item__img-wrap
						img(src="/img/img-3.jpg" alt="Apple monitor").product__item__img
					.product__item__product-wrap
						h4.product__name
							a(href="#").product__name-link iPhone 5s Gold
						.features
							ul.features__list
								li.features__item
									.feature Артикул:
									.feature-val 42787825,
								li.features__item
									.feature Опция:
									.feature-val включена,
								li.features__item
									.feature Цвет:
									.feature-val серебристый,
								li.features__item
									.feature Размер:
									.feature-val 1280*1245*90,
								li.features__item
									.feature Вес:
									.feature-val 9 кг
			li.product__item.clearfix
				a(href="#").product__link
					.product__item__img-wrap
						img(src="/img/img-4.jpg" alt="Apple monitor").product__item__img
					.product__item__product-wrap
						h4.product__name
							a(href="#").product__name-link iPad Air Wi-Fi + Cellular 128GB - Silver
						.features
							ul.features__list
								li.features__item
									.feature Артикул:
									.feature-val 42787825,
								li.features__item
									.feature Опция:
									.feature-val включена,
								li.features__item
									.feature Цвет:
									.feature-val серебристый,
								li.features__item
									.feature Размер:
									.feature-val 1280*1245*90,
								li.features__item
									.feature Вес:
									.feature-val 9 кг
			li.product__item.clearfix
				a(href="#").product__link
					.product__item__img-wrap
						img(src="/img/img-5.jpg" alt="Apple monitor").product__item__img
					.product__item__product-wrap
						h4.product__name
							a(href="#").product__name-link Apple iPod nano 7G 16 ГБ Blue
						.features
							ul.features__list
								li.features__item
									.feature Артикул:
									.feature-val 42787825,
								li.features__item
									.feature Опция:
									.feature-val включена,
								li.features__item
									.feature Цвет:
									.feature-val серебристый,
								li.features__item
									.feature Размер:
									.feature-val 1280*1245*90,
								li.features__item
									.feature Вес:
									.feature-val 9 кг
			li.product__item.clearfix
				a(href="#").product__link
					.product__item__img-wrap
						img(src="/img/img-6.jpg" alt="Apple monitor").product__item__img
					.product__item__product-wrap
						h4.product__name
							a(href="#").product__name-link Роутер Wi-Fi Apple AirPort Extreme Base Station
						.features
							ul.features__list
								li.features__item
									.feature Артикул:
									.feature-val 42787825,
								li.features__item
									.feature Опция:
									.feature-val включена,
								li.features__item
									.feature Цвет:
									.feature-val серебристый,
								li.features__item
									.feature Размер:
									.feature-val 1280*1245*90,
								li.features__item
									.feature Вес:
									.feature-val 9 кг
	.info-shop
		h2.info-shop__heading Пара слов о магазине
		p.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
		p.
			Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.


	