footer.page-footer
	.container
		section.footer-block.footer-block--logo
			.footer__logo
				a(href="/" class="footer__logo__img")
					img(src="/img/footer-logo.png" alt="logo")
		section.footer-block.footer-block--shop
			h4.footer-block__heading О магазине
			ul.footer-block__list
				li.footer-block__item
					a(href="#").footer-block__link О нас
				li.footer-block__item
					a(href="#").footer-block__link Наши цены
				li.footer-block__item
					a(href="#").footer-block__link Наши скидки
				li.footer-block__item
					a(href="#").footer-block__link Акции
		section.footer-block.footer-block--catalog
			h4.footer-block__heading Каталог
			ul.footer-block__list
				li.footer-block__item
					a(href="#").footer-block__link Смартфоны
				li.footer-block__item
					a(href="#").footer-block__link Планшеты
				li.footer-block__item
					a(href="#").footer-block__link Компьютеры
				li.footer-block__item
					a(href="#").footer-block__link Аксессуары
		section.footer-block.footer-block--contacts
			h4.footer-block__heading Контакты
			ul.footer-block__list
				li.footer-block__item
					a(href="#").footer-block__link Телефоны
				li.footer-block__item
					a(href="#").footer-block__link Адреса
				li.footer-block__item
					a(href="#").footer-block__link Карта проезда
				li.footer-block__item
					a(href="#").footer-block__link Обратная связь
		section.footer-block.footer-block--app-soc.pull-right
			.footer-applicacion
				ul.footer-applicacion__list
					li.footer-applicacion__item
						a(href="#").footer-applicacion__link
							img(src="/img/appStore-ico.png" alt="Скачать в App Store")
					li.footer-applicacion__item
						a(href="#").footer-applicacion__link
							img(src="/img/google-play-ico.png" alt="Скачать в Google play")
			.social-block
				ul.social-block__list.clearfix
					li.social-block__item
						a(href="http://vk.com" target="_blank").social-block__link.social-block__link-vk vk.com
					li.social-block__item
						a(href="https://www.facebook.com" target="_blank").social-block__link.social-block__link-fb facebook.com
					li.social-block__item
						a(href="https://twitter.com/" target="_blank").social-block__link.social-block__link-tw twitter.com



	<!-- build:js js/vendor.min.js -->
	// bower:js
	script(src='/bower/jquery/jquery.js')
	script(src='/bower/select2/dist/js/select2.min.js')
	// endbower
	<!-- endbuild -->

	<!-- build:js js/main.min.js -->
	script(src="js/main.js")
	<!-- endbuild -->