header.header
	.container
		.header__logo
			a(href="/" class="header__logo-link")
				img(src="/img/header-logo.png" alt="logo").header__logo-img
			span.header__logo-text ЭпплShop
		.header__contacts.pull-right
			ul.header__contacts-list
				li.header__contacts-item
					a(href="tel: +79213221232").header__contacts-link.header__contacts__tel<span class="header__contacts__tel--ccode">+7(921)</span> 322 12 32
				li.header__contacts-item
					a(href="mailto:manager@company.com").header__contacts-link.header__contacts__mail manager@company.com