.accordeon
	ul.accordeon__list
		li.accordeon__item
			a.accordeon__link.accordeon__trigger iPhone
			ul.accordeon__inner-list
					li.accordeon__inner-item
						a.accordeon__inner-link(href="#") iPhone 4s
					li.accordeon__inner-item
						a.accordeon__inner-link(href="#") iPhone 5s
					li.accordeon__inner-item
						a.accordeon__inner-link(href="#") iPhone 5s с эксклюзивным дизайном
					li.accordeon__inner-item
						a.accordeon__inner-link(href="#") iPhone 6
					li.accordeon__inner-item
						a.accordeon__inner-link(href="#") iPhone 6 plus
		li.accordeon__item
			a.accordeon__link.accordeon__trigger iPad
			ul.accordeon__inner-list
					li.accordeon__inner-item
						a.accordeon__inner-link(href="#") iPhone 4s
					li.accordeon__inner-item
						a.accordeon__inner-link(href="#") iPhone 5s
					li.accordeon__inner-item
						a.accordeon__inner-link(href="#") iPhone 5s
		li.accordeon__item
			a.accordeon__link(href="#") iMac
		li.accordeon__item
			a.accordeon__link(href="#") Macbook
		li.accordeon__item
			a.accordeon__link(href="#") iPod
		li.accordeon__item
			a.accordeon__link(href="#") Другое